In [3]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats   
import os                      # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

In [4]:
columns = ['datum', 'competitie', 'soortWedstrijd', 'thuisploeg', 'uitploeg', 'scoreThuis', 'scoreUit']
wedstrijden = pd.read_csv('../data/csv/scrappen/wedstrijdenSite2.csv', names=columns)
wedstrijden.head()

,datum,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,Vrijdag 14 juni 2024,EK,groepfase,Duitsland,Schotland,5,1
1,Zaterdag 15 juni 2024,EK,groepfase,Hongarije,Zwitserland,1,3
2,Zaterdag 15 juni 2024,EK,groepfase,Spanje,Kroatië,3,0
3,Zaterdag 15 juni 2024,EK,groepfase,Italië,Albanië,2,1
4,Zondag 16 juni 2024,EK,groepfase,Polen,Nederland,1,2

In [5]:
wedstrijden['datum_split'] = wedstrijden['datum'].str.split(' ')
wedstrijden.head()

,datum,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit,datum_split
0,Vrijdag 14 juni 2024,EK,groepfase,Duitsland,Schotland,5,1,"[Vrijdag, 14, juni, 2024]"
1,Zaterdag 15 juni 2024,EK,groepfase,Hongarije,Zwitserland,1,3,"[Zaterdag, 15, juni, 2024]"
2,Zaterdag 15 juni 2024,EK,groepfase,Spanje,Kroatië,3,0,"[Zaterdag, 15, juni, 2024]"
3,Zaterdag 15 juni 2024,EK,groepfase,Italië,Albanië,2,1,"[Zaterdag, 15, juni, 2024]"
4,Zondag 16 juni 2024,EK,groepfase,Polen,Nederland,1,2,"[Zondag, 16, juni, 2024]"

In [6]:
wedstrijden['dag'] = wedstrijden['datum_split'].apply(lambda x: x[1])
wedstrijden['maand'] = wedstrijden['datum_split'].apply(lambda x: x[2])
wedstrijden['jaar'] = wedstrijden['datum_split'].apply(lambda x: x[3])
wedstrijden.head()

,datum,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit,datum_split,dag,maand,jaar
0,Vrijdag 14 juni 2024,EK,groepfase,Duitsland,Schotland,5,1,"[Vrijdag, 14, juni, 2024]",14,juni,2024
1,Zaterdag 15 juni 2024,EK,groepfase,Hongarije,Zwitserland,1,3,"[Zaterdag, 15, juni, 2024]",15,juni,2024
2,Zaterdag 15 juni 2024,EK,groepfase,Spanje,Kroatië,3,0,"[Zaterdag, 15, juni, 2024]",15,juni,2024
3,Zaterdag 15 juni 2024,EK,groepfase,Italië,Albanië,2,1,"[Zaterdag, 15, juni, 2024]",15,juni,2024
4,Zondag 16 juni 2024,EK,groepfase,Polen,Nederland,1,2,"[Zondag, 16, juni, 2024]",16,juni,2024

In [7]:
map_maand = {
    'januari': 1,
    'februari': 2,
    'maart': 3,
    'april': 4,
    'mei': 5,
    'juni': 6,
    'juli': 7,
    'augustus': 8,
    'september': 9,
    'oktober': 10,
    'november': 11,
    'december': 12
}

wedstrijden['maand'] = wedstrijden['maand'].map(map_maand)
wedstrijden.head()

,datum,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit,datum_split,dag,maand,jaar
0,Vrijdag 14 juni 2024,EK,groepfase,Duitsland,Schotland,5,1,"[Vrijdag, 14, juni, 2024]",14,6,2024
1,Zaterdag 15 juni 2024,EK,groepfase,Hongarije,Zwitserland,1,3,"[Zaterdag, 15, juni, 2024]",15,6,2024
2,Zaterdag 15 juni 2024,EK,groepfase,Spanje,Kroatië,3,0,"[Zaterdag, 15, juni, 2024]",15,6,2024
3,Zaterdag 15 juni 2024,EK,groepfase,Italië,Albanië,2,1,"[Zaterdag, 15, juni, 2024]",15,6,2024
4,Zondag 16 juni 2024,EK,groepfase,Polen,Nederland,1,2,"[Zondag, 16, juni, 2024]",16,6,2024

In [8]:
wedstrijden = wedstrijden[['jaar', 'maand', 'dag', 'competitie', 'soortWedstrijd', 'thuisploeg', 'uitploeg', 'scoreThuis', 'scoreUit']]
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024,6,14,EK,groepfase,Duitsland,Schotland,5,1
1,2024,6,15,EK,groepfase,Hongarije,Zwitserland,1,3
2,2024,6,15,EK,groepfase,Spanje,Kroatië,3,0
3,2024,6,15,EK,groepfase,Italië,Albanië,2,1
4,2024,6,16,EK,groepfase,Polen,Nederland,1,2

In [9]:
wedstrijden['jaar'] = wedstrijden['jaar'].astype(int)
wedstrijden['dag'] = wedstrijden['dag'].astype(int)

# Wedstrijd soort aanpassen

## EK 2000

In [10]:
kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2000) & (wedstrijden['maand'] == 6)]
kwartfinales = kwartfinales[(kwartfinales['dag'] >= 23) & (kwartfinales['dag'] <= 24)]
kwartfinales['soortWedstrijd'] = 'Kwartfinales'
kwartfinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
901,2000,6,23,EK,Kwartfinales,Turkije,Portugal,0,2
902,2000,6,23,EK,Kwartfinales,Italië,Roemenië,2,0
903,2000,6,24,EK,Kwartfinales,Nederland,Yugoslavia,6,1
904,2000,6,24,EK,Kwartfinales,Spanje,Frankrijk,1,2

In [11]:
halvefinales = wedstrijden[(wedstrijden['jaar'] == 2000) & (wedstrijden['maand'] == 6)]
halvefinales = halvefinales[(halvefinales['dag'] == 27) | (halvefinales['dag'] == 28)]
halvefinales['soortWedstrijd'] = 'Halve finales'
halvefinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
905,2000,6,27,EK,Halve finales,Frankrijk,Portugal,1,1
906,2000,6,28,EK,Halve finales,Italië,Nederland,0,0

In [12]:
finale = wedstrijden[(wedstrijden['jaar'] == 2000) & (wedstrijden['maand'] == 7)]
finale = finale[(finale['dag'] == 1)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
907,2000,7,1,EK,Finale,Frankrijk,Italië,1,1

In [13]:
wedstrijden.update(kwartfinales)
wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [14]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

## EK 2004

In [15]:
kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2004) & (wedstrijden['maand'] == 6)]
kwartfinales = kwartfinales[(kwartfinales['dag'] >= 24) & (kwartfinales['dag'] <= 27)]
kwartfinales['soortWedstrijd'] = 'Kwartfinales'
kwartfinales.head(10)

Empty DataFrame
Columns: [jaar, maand, dag, competitie, soortWedstrijd, thuisploeg, uitploeg, scoreThuis, scoreUit]
Index: []

In [16]:
halvefinales = wedstrijden[(wedstrijden['jaar'] == 2004)]
halvefinales = halvefinales[(halvefinales['dag'] == 30) | (halvefinales['dag'] <= 1)]
halvefinales['soortWedstrijd'] = 'Halve finales'
halvefinales.head(10)

Empty DataFrame
Columns: [jaar, maand, dag, competitie, soortWedstrijd, thuisploeg, uitploeg, scoreThuis, scoreUit]
Index: []

In [17]:
finale = wedstrijden[(wedstrijden['jaar'] == 2004) & (wedstrijden['maand'] == 7)]
finale = finale[(finale['dag'] == 4)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

Empty DataFrame
Columns: [jaar, maand, dag, competitie, soortWedstrijd, thuisploeg, uitploeg, scoreThuis, scoreUit]
Index: []

In [18]:
wedstrijden.update(kwartfinales)
wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [19]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

## EK 2008

In [20]:
#kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2008) & (wedstrijden['maand'] == 6)]
#kwartfinales = kwartfinales[(kwartfinales['dag'] >= 19) & (kwartfinales['dag'] <= 22)]
#kwartfinales['soortWedstrijd'] = 'Kwartfinales'
#kwartfinales.head(10)

In [21]:
#halvefinales = wedstrijden[(wedstrijden['jaar'] == 2008) & (wedstrijden['maand'] == 6)]
#halvefinales = halvefinales[(halvefinales['dag'] >= 25) & (halvefinales['dag'] <= 26)]
#halvefinales['soortWedstrijd'] = 'Halve finales'
#halvefinales.head(10)

In [22]:
finale = wedstrijden[(wedstrijden['jaar'] == 2008) & (wedstrijden['maand'] == 6)]
finale = finale[(finale['dag'] == 29)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
660,2008.0,6.0,29.0,EK,Finale,Duitsland,Spanje,0.0,1.0

In [23]:
#wedstrijden.update(kwartfinales)
#wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [24]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

## EK 2012

In [25]:
kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2012) & (wedstrijden['maand'] == 6)]
kwartfinales = kwartfinales[(kwartfinales['dag'] >= 21) & (kwartfinales['dag'] <= 24)]
kwartfinales['soortWedstrijd'] = 'Kwartfinales'
kwartfinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
132,2012.0,6.0,21.0,EK,Kwartfinales,Tsjechië,Portugal,0.0,1.0
133,2012.0,6.0,22.0,EK,Kwartfinales,Duitsland,Griekenland,4.0,2.0
134,2012.0,6.0,23.0,EK,Kwartfinales,Spanje,Frankrijk,2.0,0.0
135,2012.0,6.0,24.0,EK,Kwartfinales,Engeland,Italië,0.0,0.0

In [26]:
halvefinales = wedstrijden[(wedstrijden['jaar'] == 2012) & (wedstrijden['maand'] == 6)]
halvefinales = halvefinales[(halvefinales['dag'] >= 27) & (halvefinales['dag'] <= 28)]
halvefinales['soortWedstrijd'] = 'Halve finales'
halvefinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
136,2012.0,6.0,27.0,EK,Halve finales,Portugal,Spanje,0.0,0.0
137,2012.0,6.0,28.0,EK,Halve finales,Duitsland,Italië,1.0,2.0

In [27]:
finale = wedstrijden[(wedstrijden['jaar'] == 2012) & (wedstrijden['maand'] == 7)]
finale = finale[(finale['dag'] == 1)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
138,2012.0,7.0,1.0,EK,Finale,Spanje,Italië,4.0,0.0

In [28]:
wedstrijden.update(kwartfinales)
wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [29]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

## EK 2016

In [30]:
achtsteFinale = wedstrijden[(wedstrijden['jaar'] == 2016) & (wedstrijden['maand'] == 6)]
achtsteFinale = achtsteFinale[(achtsteFinale['dag'] >= 25) & (achtsteFinale['dag'] <= 27)]
achtsteFinale['soortWedstrijd'] = 'Achtste Finales'
achtsteFinale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
93,2016.0,6.0,25.0,EK,Achtste Finales,Zwitserland,Polen,1.0,1.0
94,2016.0,6.0,25.0,EK,Achtste Finales,Wales,Noord-Ierland,1.0,0.0
95,2016.0,6.0,25.0,EK,Achtste Finales,Kroatië,Portugal,0.0,1.0
96,2016.0,6.0,26.0,EK,Achtste Finales,Frankrijk,Ierland,2.0,1.0
97,2016.0,6.0,26.0,EK,Achtste Finales,Duitsland,Slowakije,3.0,0.0
98,2016.0,6.0,26.0,EK,Achtste Finales,Hongarije,België,0.0,4.0
99,2016.0,6.0,27.0,EK,Achtste Finales,Italië,Spanje,2.0,0.0
100,2016.0,6.0,27.0,EK,Achtste Finales,Engeland,IJsland,1.0,2.0

In [31]:
kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2016)]
kwartfinales = kwartfinales[((kwartfinales['dag'] == 30)) | (kwartfinales['dag'] >= 1) & (kwartfinales['dag'] <= 3)]
kwartfinales['soortWedstrijd'] = 'Kwartfinales'
kwartfinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
101,2016.0,6.0,30.0,EK,Kwartfinales,Polen,Portugal,1.0,1.0
102,2016.0,7.0,1.0,EK,Kwartfinales,Wales,België,3.0,1.0
103,2016.0,7.0,2.0,EK,Kwartfinales,Duitsland,Italië,1.0,1.0
104,2016.0,7.0,3.0,EK,Kwartfinales,Frankrijk,IJsland,5.0,2.0

In [32]:
halvefinales = wedstrijden[(wedstrijden['jaar'] == 2016) & (wedstrijden['maand'] == 7)]
halvefinales = halvefinales[(halvefinales['dag'] >= 6) & (halvefinales['dag'] <= 7)]
halvefinales['soortWedstrijd'] = 'Halve finales'
halvefinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
105,2016.0,7.0,6.0,EK,Halve finales,Portugal,Wales,2.0,0.0
106,2016.0,7.0,7.0,EK,Halve finales,Duitsland,Frankrijk,0.0,2.0

In [33]:
finale = wedstrijden[(wedstrijden['jaar'] == 2016) & (wedstrijden['maand'] == 7)]
finale = finale[(finale['dag'] == 10)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
107,2016.0,7.0,10.0,EK,Finale,Portugal,Frankrijk,1.0,0.0

In [34]:
wedstrijden.update(achtsteFinale)
wedstrijden.update(kwartfinales)
wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [35]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

## EK 2020

In [36]:
achtsteFinale = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 6)]
achtsteFinale = achtsteFinale[(achtsteFinale['dag'] >= 26) & (achtsteFinale['dag'] <= 29)]
achtsteFinale['soortWedstrijd'] = 'Achtste Finales'
achtsteFinale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
48,2021.0,6.0,26.0,EK,Achtste Finales,Wales,Denemarken,0.0,4.0
49,2021.0,6.0,26.0,EK,Achtste Finales,Italië,Oostenrijk,2.0,1.0
50,2021.0,6.0,27.0,EK,Achtste Finales,Nederland,Tsjechië,0.0,2.0
51,2021.0,6.0,27.0,EK,Achtste Finales,België,Portugal,1.0,0.0
52,2021.0,6.0,28.0,EK,Achtste Finales,Kroatië,Spanje,3.0,5.0
53,2021.0,6.0,28.0,EK,Achtste Finales,Frankrijk,Zwitserland,3.0,3.0
54,2021.0,6.0,29.0,EK,Achtste Finales,Engeland,Duitsland,2.0,0.0
55,2021.0,6.0,29.0,EK,Achtste Finales,Zweden,Oekraïne,1.0,2.0

In [37]:
kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 7)]
kwartfinales = kwartfinales[(kwartfinales['dag'] >= 2) & (kwartfinales['dag'] <= 3)]
kwartfinales['soortWedstrijd'] = 'Kwartfinales'
kwartfinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
56,2021.0,7.0,2.0,EK,Kwartfinales,Zwitserland,Spanje,1.0,1.0
57,2021.0,7.0,2.0,EK,Kwartfinales,België,Italië,1.0,2.0
58,2021.0,7.0,3.0,EK,Kwartfinales,Tsjechië,Denemarken,1.0,2.0
59,2021.0,7.0,3.0,EK,Kwartfinales,Oekraïne,Engeland,0.0,4.0

In [38]:
halvefinales = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 7)]
halvefinales = halvefinales[(halvefinales['dag'] >= 6) & (halvefinales['dag'] <= 7)]
halvefinales['soortWedstrijd'] = 'Halve finales'
halvefinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
60,2021.0,7.0,6.0,EK,Halve finales,Italië,Spanje,1.0,1.0
61,2021.0,7.0,7.0,EK,Halve finales,Engeland,Denemarken,2.0,1.0

In [39]:
finale = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 7)]
finale = finale[(finale['dag'] == 11)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
62,2021.0,7.0,11.0,EK,Finale,Italië,Engeland,1.0,1.0

In [40]:
wedstrijden.update(achtsteFinale)
wedstrijden.update(kwartfinales)
wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [41]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

## EK 2024

In [42]:
achtsteFinale = wedstrijden[(wedstrijden['jaar'] == 2024)]
achtsteFinale = achtsteFinale[((achtsteFinale['dag'] >= 29) & (achtsteFinale['dag'] <= 30)) | ((achtsteFinale['dag'] >= 1) & (achtsteFinale['dag'] <= 2))]
achtsteFinale['soortWedstrijd'] = 'Achtste Finales'
achtsteFinale.head(10)

Empty DataFrame
Columns: [jaar, maand, dag, competitie, soortWedstrijd, thuisploeg, uitploeg, scoreThuis, scoreUit]
Index: []

In [43]:
kwartfinales = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 7)]
kwartfinales = kwartfinales[(kwartfinales['dag'] >= 5) & (kwartfinales['dag'] <= 6)]
kwartfinales['soortWedstrijd'] = 'Kwartfinales'
kwartfinales.head(10)

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
60,2021.0,7.0,6.0,EK,Kwartfinales,Italië,Spanje,1.0,1.0

In [44]:
halvefinales = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 7)]
halvefinales = halvefinales[(halvefinales['dag'] >= 9) & (halvefinales['dag'] <= 10)]
halvefinales['soortWedstrijd'] = 'Halve finales'
halvefinales.head(10)

Empty DataFrame
Columns: [jaar, maand, dag, competitie, soortWedstrijd, thuisploeg, uitploeg, scoreThuis, scoreUit]
Index: []

In [45]:
finale = wedstrijden[(wedstrijden['jaar'] == 2021) & (wedstrijden['maand'] == 7)]
finale = finale[(finale['dag'] == 14)]
finale['soortWedstrijd'] = 'Finale'
finale.head(10)

Empty DataFrame
Columns: [jaar, maand, dag, competitie, soortWedstrijd, thuisploeg, uitploeg, scoreThuis, scoreUit]
Index: []

In [46]:
wedstrijden.update(achtsteFinale)
wedstrijden.update(kwartfinales)
wedstrijden.update(halvefinales)
wedstrijden.update(finale)

In [47]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024.0,6.0,14.0,EK,groepfase,Duitsland,Schotland,5.0,1.0
1,2024.0,6.0,15.0,EK,groepfase,Hongarije,Zwitserland,1.0,3.0
2,2024.0,6.0,15.0,EK,groepfase,Spanje,Kroatië,3.0,0.0
3,2024.0,6.0,15.0,EK,groepfase,Italië,Albanië,2.0,1.0
4,2024.0,6.0,16.0,EK,groepfase,Polen,Nederland,1.0,2.0

# Opgekuiste gegevens uitschrijven

In [48]:
wedstrijden['jaar'] = wedstrijden['jaar'].astype(int)
wedstrijden['maand'] = wedstrijden['maand'].astype(int)
wedstrijden['dag'] = wedstrijden['dag'].astype(int)
wedstrijden['scoreThuis'] = wedstrijden['scoreThuis'].astype(int)
wedstrijden['scoreUit'] = wedstrijden['scoreUit'].astype(int)

In [49]:
wedstrijden.head()

,jaar,maand,dag,competitie,soortWedstrijd,thuisploeg,uitploeg,scoreThuis,scoreUit
0,2024,6,14,EK,groepfase,Duitsland,Schotland,5,1
1,2024,6,15,EK,groepfase,Hongarije,Zwitserland,1,3
2,2024,6,15,EK,groepfase,Spanje,Kroatië,3,0
3,2024,6,15,EK,groepfase,Italië,Albanië,2,1
4,2024,6,16,EK,groepfase,Polen,Nederland,1,2

In [50]:
output_dir = '../data/csv/opgekuist/'

if not os.path.exists(output_dir):
    os.makedirs(output_dir)

output_file_path = os.path.join(output_dir, 'wedstrijdenSite2.csv')
wedstrijden.to_csv(output_file_path, index=False, header=False, encoding='utf-8')